@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    background-image:
    linear-gradient(to right,rgba(12, 12, 12, 0.8),rgba(20, 20, 19, 0.8)), 
    url(woman-using-phone-car.jpg);
    background-size: cover;
    height: 95vh;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    width: 100%;
}
.mobile-menu{
    display: none;
}
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.nav{
    width: 100vw;
    position: absolute;
    left: 70%;
    top: 5%;
    font-size: 1rem;
}
.nav .menu{
    font-size: 4rem;
    display: none;
}
.nav a{
    padding-left: 1rem;
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
#log{
    color: lightblue;
}
.hero-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
.main-text{
    font-size: 3rem;
}
.sub-text{
    font-size: 0.9rem;
    margin-left: 110px;
    letter-spacing: 0.3rem;
    animation: left 4s ease-in;
}
.btn{
    font-size: 1rem;
     color: white;
    padding: 10px 40px;
    background-color: rgb(7, 168, 221);
    display: inline-block;
    margin-left: 12rem;
    border-radius: 10rem;
    cursor: pointer;
}
.btn a{
    color: white;
    text-decoration: none;
}
.btn:hover{
    transform: translateY(-2px);
}
.btn:active{
    transform: translateY(-1px);
}
@keyframes left{
    0%{
        opacity: 0;
        transform: translateX(-100px);
        color: rgb(7, 168, 221);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.content{
    height: 100%;
    width: 95vw;
    margin: 5rem auto;
}
.content h1{
    font-size: 2.1rem;
    text-align: center;
    color: rgb(7, 168, 221);
    text-decoration: overline;
}
.services{
    display: grid;
    grid-template-columns: repeat(3,33%);
    column-gap: 20px;
}
.list{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    height: 100%;
    width: 90%;
    margin: 10px auto;
    box-shadow: 1px 1px 4px  #b9dde9;
    justify-content: center;
}
.list p{
    font-size: 1rem;
    order: 2;
    width: 90%;
    align-self: center;
}
.list p span{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #07a8dd;
}
.list img{
    order: 1;
    border-radius: 200px;
    align-self: center;
}
.list a{
    text-decoration: none;
    color: #07a8dd;
}
.mission{
    display: flex;
    flex-direction: row-reverse;
    width: 90vw;
    padding-top:100px;
    margin: 0 auto;
    justify-content:space-between;
}
.mission section p{
    font-size: 1.1rem;
    width: 90%;
}
.mission section h1{
    font-size: 2rem;
    color: #07a8dd;
    width: 40%;
    text-align: center; 
}
.mission section{
    width: 60%;
    margin-left: 100;
    align-self: center;
}
.customer{
    display: flex;
    flex-direction: row;
    width: 90vw;
    padding-top:100px;
    margin: 0 auto;
    justify-content:space-around;
}
.customer section p{
    font-size: 1.1rem;
    width: 90%;
}
.customer section h1{
    font-size: 2rem;
    color: #07a8dd;
    width: 40%;
    text-align: center;   
}
.customer section{
    width: 50%;
    margin-left: 100;
    align-self: center;
}
.customer img{
    height: 400px;
    width: 420px;
    border-radius: 500px;
}
.newsletter{
    margin-top: 200px;
    width: 30vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.newsletter h1{
    margin-top: 0px;
    width: 100%;
    padding: 10px 0px;
    background-color: #07a8dd;
    text-align: center;
    color: white;
}
.newsletter p{
    font-size: 1rem;
}
.newsletter input{
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-radius: 0px;
    border: 1px solid lightblue;
}
.newsletter button{
    border: none;
    background-color: #07a8dd;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 150px;
    cursor: pointer;
}
.footer{
    display: flex;
    height:200px;
    width:100vw;
    background-color: black;
    padding: 20px 20px;
}
.footer div img{
    height: 100px;
    width: 120px;
    align-self: flex-start;
}
.footer div p{
    color: white;
    font-size: 1rem;
}
.footer div p b{
    color: #07a8dd;
}
.footer section{
    font-size: 1rem;
    color: white;
    margin-left: 900px;
    font-weight: bold;
}
.footer section .face{
    color: #07a8dd;
}
.footer section .insta{
    color: rgb(143, 8, 8);;
}
@media screen and (max-width:475px) {
    .nav a{
        display: none;
    }
    .nav .menu{
        display: inline-block;
        transform: 
        translateY(-20px)
        translateX(20px)
        ;
    }
    .hero-text{
        width: 80vw;
        margin-top: 40px;
    }
    .main-text{
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 50px;
    }
    .sub-text{
        font-size: 0.7rem;
        text-align: center;
        margin-left: 10px;
        margin-bottom: 50px;
    }
    .btn{
        font-size: 0.9rem;
        margin-left: 70px;
    }
    .content h1{
        font-size:1.6rem;
    }
    .services{
        display:flex;
        flex-direction: column;
        margin-bottom:0px;
    }
    .mission{
        width: 100vw;
        margin-top:0
    }
    .mission img{
        width: 200px;
        height: 300px;
        align-self: center;
        justify-content: space-between;
    }
    .mission section h1{
        font-size: 1.2rem;
        text-align: left;
        width: 50%;
    }
    .mission section p{
        font-size: 0.9rem;
    }
    .customer img{
        width: 200px;
        height: 220px;
        align-self: center;
    }
    .customer section p{
        font-size: 0.9rem;
    }
    .customer section h1{
        font-size: 1.2rem;
        text-align: left;
        width: 80%;
    }
    .newsletter{
        width: 90vw;
        margin-top: 50px;
    }
    .footer{
        flex-direction: column;
        height: 100%;
        justify-content: center;
    
    }
    .footer section{
        margin-left: 0px;
        font-weight: bold;
    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: black;
        justify-content: center;
        align-items: center;
    }
    #close-btn{
        position: absolute;
        left: 80%;
        transform: translateY(-250px);
    }
    .mobile-menu a{
        text-decoration: none;
        font-size: 1.2rem;
        padding: 20px 0px;
        color: white;
    }
}